<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test-class Suite" verbose="1" parallel="tests" thread-count="1" preserve-order="false">
    <test name="NavigationPageTest">
        <classes>
            <class name="test.com.herokuapp.the.internet.test.NavigationPageTest"/>
        </classes>
    </test>
    <test name="AddRemoveElementPageTest">
        <classes>
            <class name="test.com.herokuapp.the.internet.test.AddRemoveElementPageTest"/>
        </classes>
    </test>
    <test name="BrokenImagesPageTest">
        <classes>
            <class name="test.com.herokuapp.the.internet.test.BrokenImagesPageTest"/>
        </classes>
    </test>
    <test name="BasicAuthPageTest">
        <classes>
            <class name="test.com.herokuapp.the.internet.test.BasicAuthPageTest"/>
        </classes>
    </test>
    <test name="ChallengingDomPageTest">
        <classes>
            <class name="test.com.herokuapp.the.internet.test.ChallengingDomPageTest"/>
        </classes>
    </test>
</suite>